{{#with schedule}}
<section>
  <div class="container">
    <div class="row aling-items-center mb-4">
      <div class="col">
        <h2 class="h1 mb-sm-0">Schedule</h2>
      </div>
      <div class="col-auto">
      </div>
    </div>
    <div class="row no-gutters d-none d-md-flex bg-white py-3">
      <div class="col">
        <span class="h6 mb-0 text-muted">Time</span>
      </div>
      <div class="col-xl-7 col-md-6">
        <span class="h6 mb-0 text-muted">Topic & Description</span>
      </div>
    </div>
    <div class="tab-content" data-aos="fade-up">
      <div id="in_person" class="list-group list-group-flush tab-pane fade show active" role="tabpanel" aria-labelledby="day-one-tab">
        {{#each events}}
        {{#if link.has_link}}
        <a href="{{link.url}}" class="list-group-item list-group-item-action row no-gutters align-items-center py-3">
          <div class="col">
            <span>{{time}}</span>
          </div>
          <div class="col-xl-7 col-md-6">
            <div class="mt-2 mt-md-0">
              <h5>{{name}}</h5>
              <p class="mb-0">{{{description}}}</p>
            </div>
          </div>
        </a>
        {{else}}
        <div class="list-group-item list-group-item-action row no-gutters align-items-center py-3">
          <div class="col">
            <span>{{time}}</span>
          </div>
          <div class="col-xl-7 col-md-6">
            <div class="mt-2 mt-md-0">
              <h5 class="mb-0">{{name}}</h5>
              <p class="mb-0">{{{description}}}</p>
            </div>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</section>
{{/with}}