{{#if url_linkedin.has}}
<a alt="LinkedIn Profile" href="{{url_linkedin.site}}" target="_blank">
    <img class="icon undefined" src="assets/img/icons/social/linkedin.svg" alt="instagram social icon" data-inject-svg />
</a>
{{/if}}
{{#if url_twitter.has}}
<a alt="Twitter Profile" href="{{url_twitter.site}}" target="_blank">
    <img class="icon undefined" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
</a>
{{/if}}
{{#if url_github.has}}
<a alt="Github Profile" href="{{url_github.site}}" target="_blank">
    <img class="icon undefined" src="assets/img/icons/social/github.svg" alt="github social icon" data-inject-svg />
</a>
{{/if}}
{{#if url_instagram.has}}
<a alt="Instagram Profile" href="{{url_instagram.site}}" target="_blank">
    <img class="icon undefined" src="assets/img/icons/social/instagram.svg" alt="instagram social icon" data-inject-svg />
</a>
{{/if}}
{{#if url_facebook.has}}
<a alt="Facebook Profile" href="{{url_facebook.site}}" target="_blank">
    <img class="icon undefined" src="assets/img/icons/social/facebook.svg" alt="facebook social icon" data-inject-svg />
</a>
{{/if}}
{{#if url_youtube.has}}
<a alt="Youtube Profile" href="{{url_youtube.site}}" target="_blank">
    <img class="icon undefined" src="assets/img/icons/social/youtube.svg" alt="youtube social icon" data-inject-svg />
</a>
{{/if}}