{{#with speaker}}
<section>
  <div class="container mx-auto">
    <div class="row mb-4">
      <div class="col">
        <h2 class="h1">Organizers and Speakers</h2>
      </div>
    </div>
    <div class="row">
      {{#each speakers}}
      <div class="col-sm-6 col-lg-4 d-flex align-items-center mb-5" data-aos="fade-up" data-aos-delay="100">
        <a alt="{{firstName}} bio" href="{{../url_speakers}}#{{id}}"><img src="{{image}}" alt="Image of {{firstName}} {{lastName}}" class="avatar avatar-xlg mr-3"></a>
        <div>
            <h5 class="mb-0">{{firstName}} {{lastName}}</h5>
              <h6 class="mb-1">
                {{#if company.has_company}}
                {{#with company}}
                  {{#if has_site}}
                    <a class="bizday_speakers_company_website_icon" href="{{site}}">
                      <img class="icon bg-primary" src="assets/img/icons/theme/general/attachment-1.svg" alt="{{name}} website" data-inject-svg />
                      {{~name~}}
                    </a>
                   {{else}}
                    <span>{{name}}</span>
                  {{/if}}
                {{/with}}
                {{else}}
                  <span>{{title}}</span>
                {{/if}}
              </h6>
            {{> socials}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col">
        <a href="{{url_speakers}}" class="hover-arrow">View all</a>
      </div>
    </div>
  </div>
</section>
{{/with}}