{{#with speaker}}
<section>
  <div class="container mx-auto">
    <div class="row mb-4">
      <div class="col">
        <h2 class="h1">Featuring talks from</h2>
      </div>
    </div>
    <div class="row">
      {{#each speakers}}
      <div class="col-sm-6 col-lg-4 d-flex align-items-center mb-5" data-aos="fade-up" data-aos-delay="100">
        <a alt="{{firstName}} bio" href="{{../url_speakers}}#{{id}}"><img src="{{image}}" alt="{{firstName}} {{lastName}}" class="avatar avatar-xlg mr-3"></a>
        <div>
            <h5 class="mb-0">{{firstName}} {{lastName}}</h5>
              <h6 class="mb-1">
                <a class="bizday_speakers_company_website_icon" href="{{company_website}}">
                  <img class="icon bg-primary" src="assets/img/icons/theme/general/attachment-1.svg" alt="{{company}} website" data-inject-svg />
                  {{company}}
                </a>
              </h6>
            {{> socials}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col">
        <a href="{{url_speakers}}" class="hover-arrow">View all Speakers</a>
      </div>
    </div>
  </div>
</section>
{{/with}}