{{#with speaker}}
<section class="has-divider">
  <div class="divider flip-y">
    <img src="assets/img/dividers/divider-2.svg" alt="" data-inject-svg />
  </div>
  {{>page_title class="bizday_speaker_page_title" text="Organizers and Speakers"}}
  {{#each speakers}}
  <div id={{id}} class="container bizday_speaker_container" data-aos="fade-up">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-5">
        <img src="{{image}}" alt="Image of {{firstName}} {{lastName}}" class="rounded-circle layer-2">
        <div class="decoration bottom left" data-aos="fade-up">
          <img class="bg-primary" src="assets/img/decorations/deco-blob-10.svg" alt="" data-inject-svg />
        </div>
        <div class="decoration bottom left" data-aos="fade-right">
          <img class="bg-primary-2" src="assets/img/decorations/deco-lines-4.svg" alt="" data-inject-svg />
        </div>
      </div>
      <div class="col-xl-5 col-md-6">
        <div class="bizday_speaker_header">
          <div>{{firstName}} {{lastName}}</div>
          <div class="bizday_speaker_header_title mb-2">
            {{#if company.has_company}}
              {{company.name }} | {{title}}
            {{else}}
              {{title}}
            {{/if}}
          </div>
        </div>
        <div>
          {{#each personalDescription}}
            <p class="lead bizday_speaker_description">{{this}}</p>
          {{/each}}
        </div>
        <div>
          {{#each talkDescription}}
            <p class="lead bizday_speaker_description">{{this}}</p>
          {{/each}}
        </div>
        {{> socials}}
      </div>
    </div>
  </div>
  {{/each}}
</section>
{{/with}}